[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
pyyaml = "*"
pathlib = "*"
pandas = "*"
minio = "*"
setuptools = "*"
apache-airflow = "*"
python-dotenv = "*"
psycopg2 = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
